In [4]:
import pandas as pd 
import numpy as  np 
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [9]:
df = pd.read_csv("cleaned_customer_booking.csv",index_col=0)
df.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,3,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,3,AKLDEL,India,1,0,1,5.52,0

In [5]:
categorical_features = ['sales_channel','trip_type']

In [16]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),categorical_features)],remainder='passthrough')

In [17]:
Encoded_array = ct.fit_transform(df)

In [18]:
encoded_df = pd.DataFrame(Encoded_array)

In [54]:
encoded_df.sample(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
2263,1.0,0.0,0.0,0.0,1.0,1,217,17,2,4,BDOIKA,Indonesia,0,0,1,8.15,0
28250,0.0,1.0,0.0,0.0,1.0,1,40,3,0,7,KIXSIN,Singapore,1,0,0,7.0,1
34451,1.0,0.0,1.0,0.0,0.0,2,40,4,2,5,PUSSYD,South Korea,1,1,1,8.58,0
24764,1.0,0.0,0.0,0.0,1.0,3,197,25,22,7,SGNSYD,Australia,1,1,0,8.58,0
8301,1.0,0.0,0.0,0.0,1.0,1,6,62,0,4,DELMEL,Australia,0,0,0,8.83,0
1356,1.0,0.0,0.0,0.0,1.0,2,67,18,23,7,AKLKUL,New Zealand,1,0,1,8.83,0
35286,1.0,0.0,0.0,0.0,1.0,1,48,5,5,3,CGKHND,Indonesia,1,0,1,7.57,1
12388,1.0,0.0,0.0,0.0,1.0,3,107,25,5,5,HNDPEN,Japan,0,0,0,7.57,0
44996,1.0,0.0,0.0,0.0,1.0,2,125,6,0,3,DPSICN,South Korea,1,1,0,6.62,0
8267,1.0,0.0,0.0,0.0,1.0,1,3,22,5,3,DELMEL,Australia,0,0,1,8.83,0

In [69]:
encoded_df.drop(columns=[10,11],inplace=True)

In [70]:
encoded_df.head()

,Internet,Mobile,RoundTRip,OneWayTrip,CircleTrip,5,6,7,8,9,12,13,14,15,16
0,1.0,0.0,0.0,0.0,1.0,2,262,19,7,6,1,0,0,5.52,0
1,1.0,0.0,0.0,0.0,1.0,1,112,20,3,6,0,0,0,5.52,0
2,1.0,0.0,0.0,0.0,1.0,2,243,22,17,3,1,1,0,5.52,0
3,1.0,0.0,0.0,0.0,1.0,1,96,31,4,6,0,0,1,5.52,0
4,1.0,0.0,0.0,0.0,1.0,2,68,22,15,3,1,0,1,5.52,0

In [71]:
encoded_df = encoded_df.rename(columns={0:'Internet', 1:'Mobile',2:'CircleTrip', 3:'OneWayTrip',4:'RoundTRip',5:"num_passengers",6:"purchase_lead",7:"length_of_stay",8:"flight_hour",9:"flight_day",12:'wants_extra_baggage',13:'wants_preferred_seat',14:'wants_in_flight_meals',15:'flight_duration'})

In [72]:
encoded_df.head()

,Internet,Mobile,RoundTRip,OneWayTrip,CircleTrip,num_passengers,purchase_lead,length_of_stay,flight_hour,flight_day,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,16
0,1.0,0.0,0.0,0.0,1.0,2,262,19,7,6,1,0,0,5.52,0
1,1.0,0.0,0.0,0.0,1.0,1,112,20,3,6,0,0,0,5.52,0
2,1.0,0.0,0.0,0.0,1.0,2,243,22,17,3,1,1,0,5.52,0
3,1.0,0.0,0.0,0.0,1.0,1,96,31,4,6,0,0,1,5.52,0
4,1.0,0.0,0.0,0.0,1.0,2,68,22,15,3,1,0,1,5.52,0

In [73]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [75]:
x.head()

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration
0,2,Internet,RoundTrip,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52
1,1,Internet,RoundTrip,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52
2,2,Internet,RoundTrip,243,22,17,3,AKLDEL,India,1,1,0,5.52
3,1,Internet,RoundTrip,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52
4,2,Internet,RoundTrip,68,22,15,3,AKLDEL,India,1,0,1,5.52

In [76]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: booking_complete, dtype: int64